<footer class="footer overlay90" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <aside class="widget">
                    <h3 class="widgetTitle">Наши контакты</h3>

                    <div class="sads">
                        <i class="fa fa-globe"></i>
                        <p>NARVA</p>
                        <p>TEHASE 6, Estonia</p>
                    </div>
                    <div class="sads">
                        <i class="fa fa-phone"></i>
                        <p>372 5696 9372 - Дмитрий</p>
                        <p>372 5557 4952 - Александр</p>
                    </div>
                    <div class="sads">

                        </address>
                </aside>
            </div>
            <div class="col-lg-6 col-sm-6">
                <aside class="widget">
                    <h3 class="widgetTitle">Часы работы</h3>
                    <ul class="workHour">
                        <li>Monday - Friday <span>10:00 - 22:00</span></li>
                        <li>Saturday <span>10:00 - 22:00</span></li>
                        <li>Sunday <span>10:00 - 22:00</span></li>
                    </ul>
                </aside>
            </div>



            <div class="col-lg-4 col-sm-6">
                <aside class="widget">
                    <h3 class="widgetTitle">Подписывайтесь</h3>
                    <div class="sicialIcon fsocial">
                        <a class="fb" href="https://www.facebook.com/NarvaCQB"><i class="fa fa-facebook"></i></a>
                        <a class="gp" href="https://youtube.com/@dmitripersitski6065?si=cjISOSNzcDVww0bK"><i class="fa fa-youtube"></i></a>
                        <a class="tw" href="https://vk.com/narvacqb"><i class="fa fa-vk"></i></a>
                        <a class="tw" href="https://t.me/+xxISHNZT35phMDg0"><i class="fa fa-telegram"></i></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>
<section class="copyRight">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyPera">&copy; AirsoftNarva 2022 | Сделано с <i class="fa fa-heart-o"></i></p>
            </div>
        </div>
    </div>
</section>