<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narva CQB Arena</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <div class="box">
        <%- body %>
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/scripts.ejs') %>
    </div>
</body>
</html>
