<fieldset name="payment-method" class='form-fieldset'>
    <label for="payment-method" class="text-white">Выберите способ платежа:</label> <br>
    <input type="radio" class="form-check-input" id="cash" name="payment-method"
           value="cash" required>
    <label class="form-check-label" for="cash">Cash</label> <br/>
    <input type="radio" class="form-check-input" id="bank-transfer" name="payment-method"
           value="bank-transfer" required>
    <label class="form-check-label" for="bank-transfer">Bank</label>
</fieldset>