@import "../../../css";

htm,
body {
  color: gray;
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
}

a {
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: oswald, sans-serif;
  margin: 0 0 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: gray;
}

h6 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

h4 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1.2px;
}

h2 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0px;
}

h1 {
  font-size: 107px;
  line-height: 107px;
  letter-spacing: 0px;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.noPadding {
  padding: 0 !important;
}

.noPaddingLeft {
  padding-left: 0 !important;
}

.noPaddingTop {
  padding-top: 0 !important;
}

.noPaddingRight {
  padding-right: 0 !important;
}

.noPaddingBottom {
  padding-bottom: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.noMarginLeft {
  margin-left: 0 !important;
}

.noMarginTop {
  margin-top: 0 !important;
}

.noMarginRight {
  margin-right: 0 !important;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.commonSection {
  padding: 120px 0;
  position: relative;
}

.lineBorder {
  width: 50px;
  height: 2px;
  background: #05b8fa;
  display: inline-block;
}

.color_white {
  color: #fff;
}

.color_red {
  color: #05b8fa;
}

.color_gray {
  color: gray;
}

.bg_black {
  background: #34313f;
}

.bg_black2 {
  background: #292633;
}

.sectionTitle {
  margin-bottom: 55px;
  margin-right: 30px;
  padding-right: 100px;
  position: relative;
  z-index: 1;
}

.sectionTitle3 {
}

.sectionTitle p:last-of-type {
  margin-bottom: 50px;
}

.sectionTitle.border {
  border-bottom: 1px solid #494653;
}

.titleHead {
  overflow: hidden;
  padding-bottom: 45px;
}

.titleHead h1 {
  color: #05b8fa;
  display: inline-block;
  float: left;
  position: relative;
  top: -3px;
  left: -3px;
  padding-right: 13px;
  margin: 0;
  font-size: 104px;
}

.titleHead h2 {
  margin: 0;
}

.sectionTitle2 {
  margin-bottom: 60px;
}

.sectionTitle2 h2 {
  margin-bottom: 32px;
  line-height: 0.89;
}

.sectionTitle3 {
  margin-bottom: 36px;
}

.overlay90,
.overlay80 {
  position: relative;
}

.overlay90:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 35, 48, 0.9);
  content: "";
}

.overlay80:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 35, 48, 0.8);
  content: "";
}

.painButton,
input[type="submit"] {
  border: 3px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: oswald, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0.7px;
  line-height: 53px;
  padding: 0 46px;
  text-transform: uppercase;
  background: 0 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.lang-div {
    background: #292633;
    padding: 23px;
}

.painButton:hover,
input[type="submit"]:hover {
  color: #05b8fa;
  border-color: #05b8fa;
}

@media only screen and (max-width: 560px) {
 
 .titleHead h1 {
   
    font-size: 81px;
}

.commonSection {
    padding: 50px 0;

}
 
}