<fieldset name="payment-method" class='form-fieldset'>
    <label for="payment-method" class="text-white">Выберите способ платежа:</label> <br>
    <input type="radio" class="form-check-input" id="cash" name="payment-method"
           value="cash" required>
    <label class="form-check-label" for="cash">Cash</label> <br/>
    <input type="radio" class="form-check-input" id="bank-transfer" name="payment-method"
           value="bank-transfer" required>
    <label class="form-check-label" for="bank-transfer">Bank</label>
</fieldset>

<!--OLD RULES-->
<% for (let key in config.main.rules) { %>
    <h5 class="text-white"><b><%= config.main.rules[key]["title"] %></b></h5>
    <ol class="event-rules-list">
        <% for (let i in config.main.rules[key]["array"]) { %>
            <li><%= config.main.rules[key]["array"][i] %></li>
        <% } %>
    </ol>
<% } %>
<h5 class="text-white"><b>Нестрелковые зоны и токены оружия</b></h5>
<p>Для чего:</p>
<ol>
    <li>на игре мы хотим иметь нестрелковые зоны, где участники мероприятия могут спокойно снять защитные очки и не беспокоиться по поводу получения шаром из привода для себя. Для этого нужно, чтобы все привода игроки оставляли на входе таких зон.</li>
    <li>мы хотим на игре создать геймплей поиска, покупки, торговля и лутание оружия</li>
    <li>мы не хотим, чтобы игроки отбирали чужие привода и пользовались ими</li>
    <li>мы хотим, чтобы в нестрелковой зоне всё так же можно было проводить торговлю и тд оружием, будто оно в наличии игроков. Пример похожей игровой условности: в компьютерной игре Сталкер, когда игрок входит в Бар, игра заставляет персонажа убрать оружие из рук и не позволяет ему его взять; при этом игрок всё также может им обмениваться</li>
</ol>
<p>Чтобы эти пункты удовлетворить, мы используем токены оружия на игре. Они показывают игромеханически наличие оружие на руках игрока.</p>
<p>Оружие на игре состоит из двух частей: физический привод и токен оружия.
    Токен представляет собой пару идентичных жетонов
    Каждый игровой персонаж имеет паспорт с индивидуальным номером.
    На начало игры, игровые персонажи стартуют без стрелкового оружия, а их физические привода хранятся в неигровой оружейне в соответствующих их индивидуальному номеру ячейках. Игровым персонажам нужно найти себе подходящие их физическому приводу пару токенов (их можно купить, найти, получить от лидеров фракций).
</p>
<div class="flex flex-row">
    <img class="event-content-img" src="img/event/rules/rifle_token.jpg" alt="token">
    <img class='event-content-img' src="img/event/rules/pistol_token.jpg" alt="token">
</div>
<p>Токены бывают двух типов: PISTOL (все пистолеты), RIFLE (всё, что не пистолеты)
    На токенах указаны: серийный номер, тип, корпоративная метка (если имеется)
</p>
<h5>Примеры взаимодействия с этой механикой:</h5>
<ol>
    <li>Игрок выходит из Нестрелковой зоны, имеет токен оружия и желает выйти с приводом</li>
    <li>Игрок возвращается в Нестрелковую зону</li>
    <li>Игрок забрал один из жетонов с павшего игрока</li>
</ol>