<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>Object</h1>
                        <h2 class="color_gray">2</h2>
                        <h2 class="color_white">game</h2>
                    </div>
                </div>
                <div class='lang-div'>
                    <h5><b>Наш канал в Телеграм:</b></h5>
                    <p><a style=" color: #05b8fa; "
                          href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>
                    <h5><b>Расписание:</b></h5>
                    <div style=" color: white; font-weight: bold; "><p> Заезд - 16:00</p>
                        <p> Брифинг - 17:00</p>
                        <p> Старт игры - 17:30</p>
                        <p> Конец игры - ~02:00</p>
                        <p> AfterParty - 02:00-04:00</p></div>

                    <h5><b>Сюжет:</b></h5>
                    <p>30ые и 40ые года 20го века ознаменовали скачок развития технологий, будто наступил второй приход
                        индустриальной революции. Но за скорость новых возможностей человечества не поспевал
                        человеческий дух. Так, резкими скачками на стыке 80х и 90х “Предыдущие Человеческие Цивилизации”
                        поставили друг-другу жирные точки в истории, бросив при этом всю планету в Свинцовый Век.
                        Остаток человеческой популяции прибегали к разным методам выживания. На более менее
                        сохранившихся остатках наследия “ПЧЦ” начали возникать так называемые Узлы: относительно
                        безопасные, либо стратегически выгодные места обитания выживших, где они могли воздвигать свои
                        трущобы. Узлы как волны в море то появлялись, то исчезали.</p>
                    <p>
                        Идёт 2170 год по уцелевшему календарю. Особо успешные Узлы разрослись до полноценных Зелёных
                        Зон, максимально имитирующие жизнь “ПЧЦ”. Зелёные Зоны отделились от остального хоть и
                        поправляющегося, но всё ещё больного мира. Попасть туда не так-то просто и дёшево. В мир
                        постепенно возвращаются концепты законность и правительства. Пришли времена договоров и наёмного
                        труда.
                    </p>
                    <p>
                        Год назад двум Частным Охранным Компаниям пришли данные о местоположении заброшенного Узла на
                        территории некогда Промышленного Объекта №6. Так как в Узлы выжившие постепенно стаскивали
                        ресурсы и уцелевшие артефакты из ближайших окрестностей - это звучит как бесхозный кладезь:
                        ценный билет развиться, обрести статус Частной Военной Компании.
                    </p>
                    <p>Обзаведясь поддержкой местных и новоприбывших на территории Промышленного Объекта №6, смогла
                        закрепиться компания "The 4 Gear" тем самым заполучив статус ЧВК.</p>
                    <p>Тем временем “PharmaSerpentica”, хоть и не смогла получить статус ЧВК, решила так же не сдавать
                        свои позиции на территории данного объекта. В связи с находками которые здесь были обнаружены
                        они перевезли огромную часть своего научного оборудования, для проведения опытов. Они верят что
                        если смогут разгадать тайну то отнимут статус ЧВК у "The 4 Gear".</p>
                    <p style=" color: white; font-weight: bold; ">Туториалы по созданию костюма для игры: </p>
                    <p><a href="https://youtube.com/@NuclearSnailStudios?feature=shared">Nuclear Snail Studios</a></p>
                    <h5><b>Правила и особенности игры:</b></h5>
                    <ol>
                        <li><b>1.</b> Обязательно иметь защиту на глаза!</li>
                        <li><b>2.</b> СТРОГО ЗАПРЕЩЕН ПОДЪЕМ НА ВОЗВЫШЕННОСТИ/КАПАНИРЫ/КРЫШИ</li>
                        <li><b>3.</b> ДРЕССКОД. Вы - рождённые в пост-апокалиптичном мире, и внешний вид Ваш должен
                            более менее соответствовать!
                        </li>
                        <li><b>4.</b> ПНВ, тепловизер и тд будут лишними. Можете брать с собой фонарики.</li>
                        <li><b>5.</b> Пиротехника запрещена.</li>
                        <li><b>6.</b> Игровое поле будет разделено на боевую и не боевую зону. В боевой зоне
                            ОБЯЗАТЕЛЬНОЕ ношение защитных очков.
                        </li>
                        <li><b>7.</b> Наличие при себе приводов и протектированного оружия в не стрелковой зоне
                            запрещено - всё оружие сдаётся на склад между зонами, где за каждым игроком числится ячейка
                            со всем его лично привезенным оружием.
                        </li>
                        <li><b>8.</b> Игроки начинают игру со вторичным оружием(пистолет, револьвер, оружее ближнего
                            боя) если таковое имеется.
                            Остальное вооружение сдаётся оружейнику(ГМу).
                        </li>
                        <li><b>9.</b> В игре используются токены оружия, где указаны тип, опознавательные знаки и
                            подобная информация.
                            При переходе из не стрелковой зоны в стрелковую, игроки показывают ГМу (Оруженику) наличие
                            токена и получают со склада своё соответствующее оружие. Так же при помощи токенов вы можете
                            проводить торговлю, обмены в не стрелковой зоне.
                        </li>
                        <li><b>9.</b> Если у вас нет личного оружия то вы сможете его преобрести на игру за игровую
                            валюту у оружейника.
                        </li>
                        <li><b>10.</b> Вылеты приводов согласно стандартным правилам 1.6 дж (120mc - 0.2 шар).</li>
                        <li><b>11.</b> Шары с собой брать не надо.</li>
                        <li><b>12.</b> Протектированное оружие в обязательном порядке проходит чиповку (проверка
                            характеристик материала) во время проверки(хрона) приводов.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4">
                <div class='quoteHeader getaquote' id='form-form'>
                    <h3 class="g-form__title g-form__title_main">Registration</h3>
                </div>
                <div class='quoteFooter getaquote'>
                    <form class="g-form" id="g-form-1" autocomplete="off">
                        <div class="g-form__inputs">
                            <input type='text' id="name" name="name" placeholder="Имя/Фамилия" required>
                            <input type='text' id="tel" name="phone" placeholder="Phone Number" required>
                            <input id="email" name="email" type="email" placeholder="email" required/>
                            <input type="text" name="nickname" placeholder="Позывной">
                            <textarea id="message" name="about-character" rows="10" placeholder="About your character (Optional)" data-lt-tmp-id="lt-324300" spellcheck="false" data-gramm="false"></textarea>
                            <fieldset name="team" class='form-fieldset'>
                                <label>Выберите фракцию:</label> <br>
                                <input type="radio" class="form-check-input" id="4gear" name="team" value="4gear" required>
                                <label class="form-check-label" for="4gear">4ая передача</label> <br>
                                <input type="radio" class="form-check-input" id="farmacempentic" name="team" value="farmacempentic" required>
                                <label class="form-check-label" for="farmacempentic">Фармацевтики</label>
                            </fieldset>

                            <fieldset name="payment-method" class='form-fieldset'>
                                <label for="payment-method">Payment:</label> <br>
                                <input type="radio" class="form-check-input" id="cash" name="payment-method"
                                       value="cash" required>
                                <label class="form-check-label" for="cash">Cash</label> <br/>
                                <input type="radio" class="form-check-input" id="bank-transfer" name="payment-method"
                                       value="bank-transfer" required>
                                <label class="form-check-label" for="bank-transfer">Bank</label>
                            </fieldset>
                            <label style=" color: white; " for="honeypot">Скоро разрабы догадаются отправлять инфу на мыло</label>
                            <label style=" text-decoration: line-through; ">12.03.24-10.04.24 - 30€</label>
                            <label style=" text-decoration: line-through; ">11.04.24-01.05.24 - 35€</label>
                            <label>02.05.24-23.05.24 - 40€</label>
                            <label>24.05.24-25.05.24 - 50€</label>

                            <input style=" visibility: hidden; height: 1px; " id="honeypot" type="text" name="honeypot"
                                   value="">
                            <input class="g-form__button" type="submit" id="q_submit" value="Send">
                            <br/>
                            <h3 class="g-form__title g-form__title_respond"></h3>
                            <div class="g-form__preloader"></div>
                        </div>
                    </form>
                    <script>
                        const restrictedTeam = "<%= restrictedTeam %>";
                        if (restrictedTeam) {
                            const radioButton = document.getElementById(restrictedTeam);
                            radioButton.disabled = true;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>