<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>Object</h1>
                        <h2 class="color_gray">2</h2>
                        <h2 class="color_white">game</h2>
                    </div>
                </div>
                <div class='language-box'>
                    <button class='ru lang-btn'>Ru</button>
                    <button class='en lang-btn'>Eng</button>
                    <button class='et lang-btn'>Est</button>
                </div>
                <div class='lang-div'>
                    <h5><b>Наш канал в Телеграм:</b></h5>
                    <p><a style=" color: #05b8fa; "
                          href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>
                    <h5><b>Расписание:</b></h5>
                    <div style=" color: white; font-weight: bold; "><p> Заезд - 16:00</p>
                        <p> Брифинг - 17:00</p>
                        <p> Старт игры - 17:30</p>
                        <p> Конец игры - ~02:00</p>
                        <p> AfterParty - 02:00-04:00</p></div>

                    <h5><b>Сюжет:</b></h5>
                    <p>30ые и 40ые года 20го века ознаменовали скачок развития технологий, будто наступил второй приход
                        индустриальной революции. Но за скорость новых возможностей человечества не поспевал
                        человеческий дух. Так, резкими скачками на стыке 80х и 90х “Предыдущие Человеческие Цивилизации”
                        поставили друг-другу жирные точки в истории, бросив при этом всю планету в Свинцовый Век.
                        Остаток человеческой популяции прибегали к разным методам выживания. На более менее
                        сохранившихся остатках наследия “ПЧЦ” начали возникать так называемые Узлы: относительно
                        безопасные, либо стратегически выгодные места обитания выживших, где они могли воздвигать свои
                        трущобы. Узлы как волны в море то появлялись, то исчезали.</p>
                    <p>
                        Идёт 2170 год по уцелевшему календарю. Особо успешные Узлы разрослись до полноценных Зелёных
                        Зон, максимально имитирующие жизнь “ПЧЦ”. Зелёные Зоны отделились от остального хоть и
                        поправляющегося, но всё ещё больного мира. Попасть туда не так-то просто и дёшево. В мир
                        постепенно возвращаются концепты законность и правительства. Пришли времена договоров и наёмного
                        труда.
                    </p>
                    <p>
                        Год назад двум Частным Охранным Компаниям пришли данные о местоположении заброшенного Узла на
                        территории некогда Промышленного Объекта №6. Так как в Узлы выжившие постепенно стаскивали
                        ресурсы и уцелевшие артефакты из ближайших окрестностей - это звучит как бесхозный кладезь:
                        ценный билет развиться, обрести статус Частной Военной Компании.
                    </p>
                    <p>Обзаведясь поддержкой местных и новоприбывших на территории Промышленного Объекта №6, смогла
                        закрепиться компания "The 4 Gear" тем самым заполучив статус ЧВК.</p>
                    <p>Тем временем “PharmaSerpentica”, хоть и не смогла получить статус ЧВК, решила так же не сдавать
                        свои позиции на территории данного объекта. В связи с находками которые здесь были обнаружены
                        они перевезли огромную часть своего научного оборудования, для проведения опытов. Они верят что
                        если смогут разгадать тайну то отнимут статус ЧВК у "The 4 Gear".</p>
                    <p style=" color: white; font-weight: bold; ">Туториалы по созданию костюма для игры: </p>
                    <p><a href="https://youtube.com/@NuclearSnailStudios?feature=shared">Nuclear Snail Studios</a></p>
                    <h5><b>Правила и особенности игры:</b></h5>
                    <ol>
                        <li><b>1.</b> Обязательно иметь защиту на глаза!</li>
                        <li><b>2.</b> СТРОГО ЗАПРЕЩЕН ПОДЪЕМ НА ВОЗВЫШЕННОСТИ/КАПАНИРЫ/КРЫШИ</li>
                        <li><b>3.</b> ДРЕССКОД. Вы - рождённые в пост-апокалиптичном мире, и внешний вид Ваш должен
                            более менее соответствовать!
                        </li>
                        <li><b>4.</b> ПНВ, тепловизер и тд будут лишними. Можете брать с собой фонарики.</li>
                        <li><b>5.</b> Пиротехника запрещена.</li>
                        <li><b>6.</b> Игровое поле будет разделено на боевую и не боевую зону. В боевой зоне
                            ОБЯЗАТЕЛЬНОЕ ношение защитных очков.
                        </li>
                        <li><b>7.</b> Наличие при себе приводов и протектированного оружия в не стрелковой зоне
                            запрещено - всё оружие сдаётся на склад между зонами, где за каждым игроком числится ячейка
                            со всем его лично привезенным оружием.
                        </li>
                        <li><b>8.</b> Игроки начинают игру со вторичным оружием(пистолет, револьвер, оружее ближнего
                            боя) если таковое имеется.
                            Остальное вооружение сдаётся оружейнику(ГМу).
                        </li>
                        <li><b>9.</b> В игре используются токены оружия, где указаны тип, опознавательные знаки и
                            подобная информация.
                            При переходе из не стрелковой зоны в стрелковую, игроки показывают ГМу (Оруженику) наличие
                            токена и получают со склада своё соответствующее оружие. Так же при помощи токенов вы можете
                            проводить торговлю, обмены в не стрелковой зоне.
                        </li>
                        <li><b>9.</b> Если у вас нет личного оружия то вы сможете его преобрести на игру за игровую
                            валюту у оружейника.
                        </li>
                        <li><b>10.</b> Вылеты приводов согласно стандартным правилам 1.6 дж (120mc - 0.2 шар).</li>
                        <li><b>11.</b> Шары с собой брать не надо.</li>
                        <li><b>12.</b> Протектированное оружие в обязательном порядке проходит чиповку (проверка
                            характеристик материала) во время проверки(хрона) приводов.
                        </li>
                    </ol>

                </div>
                <div class='lang-div hidden'>

                    <h5><b>Our Telegram Channel:</b></h5>
                    <p><a style="color: #05b8fa;"
                          href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>
                    <h5><b>Game time:</b></h5>
                    <div style="color: white; font-weight: bold;">
                        <p>Arrival - 16:00</p>
                        <p>Briefing - 17:00</p>
                        <p>Game Start - 17:30</p>
                        <p>Game End - ~02:00</p>
                        <p>AfterParty - 02:00-04:00</p>
                    </div>

                    <h5><b>HISTORY:</b></h5>
                    <p>
                        The 1930s and 1940s marked a leap in technology development, as if the second coming of the
                        Industrial Revolution had arrived. However, the pace of new opportunities outstripped the human
                        spirit. Thus, at the junction of the 80s and 90s, the "Previous Human Civilizations" put
                        definitive full stops in each other's history, plunging the whole planet into the Lead Age. The
                        remaining human population resorted to various survival methods. On the relatively preserved
                        remnants of the "PHC" heritage, so-called Nodes began to emerge: relatively safe, or
                        strategically advantageous places of survival for the remaining people, where they could erect
                        their shanties. Nodes, like waves in the sea, would appear and disappear.</p>
                    <p>The year is 2170 according to the surviving calendar. Particularly successful Nodes have grown
                        into full-fledged Green Zones, mimicking the life of the "PHC" as closely as possible. The Green
                        Zones have separated from the rest of the world, which is recovering but still ill. Getting
                        there is not so simple and cheap. The world is gradually returning to concepts of legality and
                        governance. It is the time of agreements and hired labor.</p>
                    <p>A year ago, two Private Security Companies received information about the location of an
                        abandoned Node on the territory of the once Industrial Object No. 6. Since survivors gradually
                        dragged resources and surviving artifacts from the nearby vicinity into the Nodes, this sounded
                        like an ownerless treasure trove: a valuable ticket to develop, and gain the status of a Private
                        Military Company.</p>
                    <p>Having garnered support from locals and newcomers on the territory of Industrial Object No. 6,
                        "The 4 Gear" company was able to establish itself, thereby obtaining the status of a PMC.</p>
                    <p>Meanwhile, "PharmaSerpentica," although it did not manage to obtain the status of a PMC, decided
                        not to give up its positions on the territory of this object. Given the discoveries made here,
                        they transported a huge part of their scientific equipment to conduct experiments. They believe
                        that if they can unravel the mystery, they will take away the PMC status from "The 4 Gear".</p>

                    <p style=" color: white; font-weight: bold; ">Post apocalyptic costume tutorial: </p>
                    <p><a href="https://youtube.com/@NuclearSnailStudios?feature=shared">Nuclear Snail Studios</a></p>

                    <h5><b>Rules and Game Features:</b></h5>
                    <ol>
                        <li><b>1.</b> Eye protection is mandatory!</li>
                        <li><b>2.</b> STRICTLY FORBIDDEN: Climbing to elevated positions/canopies/roofs.</li>
                        <li><b>3.</b> DRESS CODE: You are born in a post-apocalyptic world, and your appearance should
                            somehow reflect that!
                        </li>
                        <li><b>4.</b> Night vision goggles, thermal imagers, etc., are unnecessary. You can bring
                            flashlights.
                        </li>
                        <li><b>5.</b> Pyrotechnics are prohibited.</li>
                        <li><b>6.</b> The game area will be divided into combat and non-combat zones. In the combat
                            zone, protective eyewear is MANDATORY.
                        </li>
                        <li><b>7.</b> Carrying airsoft guns and modified weapons is prohibited in the non-shooting zone.
                            All weapons are surrendered to the armory between zones, where each player has a designated
                            compartment for their personally brought weapons.
                        </li>
                        <li><b>8.</b> Players start the game with secondary weapons (pistols, revolvers, melee weapons)
                            if available. Other weaponry is surrendered to the armorer (GM).
                        </li>
                        <li><b>9.</b> Tokenized weapons are used in the game, indicating type, identifying marks, and
                            related information. When transitioning from the non-shooting zone to the shooting zone,
                            players show the GM (Armorer) their token to receive the corresponding weapon from the
                            armory. Tokens can also be used for trading and exchanges in the non-shooting zone.
                        </li>
                        <li><b>10.</b> Airsoft gun energy limits comply with standard rules (1.6 joules or 120 m/s with
                            0.2g BBs).
                        </li>
                        <li><b>11.</b> You don’t need to bring your own balls.</li>
                        <li><b>12.</b> Custom-made weapons must be chipped (material characteristics check) during the
                            chronographing of the guns.
                        </li>
                    </ol>

                </div>
                <div class='lang-div hidden'>
                    <h5><b>Meie Telegrami kanal:</b></h5>
                    <p><a style="color: #05b8fa;"
                          href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>
                    <h5><b>Plaan:</b></h5>
                    <div style="color: white; font-weight: bold;">
                        <p>Saabumine - 16:00</p>
                        <p>Brifing - 17:00</p>
                        <p>Mängu algus - 17:30</p>
                        <p>Mängu lõpp - ~02:00</p>
                        <p>AfterParty - 02:00-04:00</p>
                    </div>
                    <h5><b>Mängu süžee:</b></h5>
                    <p>
                        30. ja 40. aastad tähistasid tehnoloogia arengu hüpet, nagu oleks saabunud teine
                        tööstusrevolutsiooni aeg. Kuid uute võimaluste tempo ületas inimvaimu. Niisiis, 80ndate ja
                        90ndate vaheliste aastate jooksul panid "Eelnevad inimtsivilisatsioonid" ajaloos üksteisele
                        rasvased punktid, visates samal ajal kogu planeedi Pliiaega. Ülejäänud inimpopulatsioon kasutas
                        erinevaid ellujäämismeetodeid. "EIK" suhteliselt säilinud jäänustel hakkasid tekkima nn Sõlmed:
                        suhteliselt ohutud või strateegiliselt soodsad ellujäämise kohad, kus ellujäänud võisid
                        püstitada oma ajutisi elamiskohti. Sõlmed ilmusid ja kadusid nagu lainetused merel.
                    </p>
                    <p>
                        Aasta on ellujäänud kalendri järgi 2170. Eriti edukad Sõlmed on kasvanud täisväärtuslikeks
                        Rohelisteks Tsoonideks, mis matkivad maksimaalselt "EIK" elu. Rohelised Tsoonid on eraldunud
                        ülejäänud, kuigi paranemisprotsessis olevast, kuid siiski haigete maailmast. Sinna jõudmine pole
                        sugugi lihtne ega odav. Maailma hakkavad järk-järgult tagasi tulema seaduslikkuse ja valitsuse
                        kontseptsioonid. On saabunud lepingute ja palgatöö aeg.</p>
                    <p>Aasta tagasi said kaks eraõiguslikku turvafirmat teavet mahajäetud Sõlme asukoha kohta kunagise
                        Tööstusobjekti nr 6 territooriumil. Kuna ellujäänud tõid järk-järgult Sõlmedesse ressursse ja
                        ellujäänud artefakte lähedalasuvatest piirkondadest, kõlas see nagu omanikuta aare: väärtuslik
                        pilet arenguks ja eraõigusliku sõjalise ettevõtte staatuse saavutamiseks.</p>
                    <p>Kohalike ja uute saabujate toetuse saamisel Tööstusobjektil nr 6 õnnestus ettevõttel "The 4 Gear"
                        end kindlustada, saavutades seeläbi PMC staatuse.</p>
                    <p>Samal ajal otsustas "PharmaSerpentica", ehkki neil ei õnnestunud PMC staatust saada, mitte
                        loobuda oma positsioonidest selle objekti territooriumil. Siin tehtud avastuste tõttu
                        transportisid nad suure osa oma teaduslikust varustusest katsete tegemiseks. Nad usuvad, et kui
                        suudavad saladuse lahendada, võtavad nad "The 4 Gear"ilt PMC staatuse ära.</p>
                    <p style=" color: white; font-weight: bold; ">Postapokalüptilise kostüümi õpetus: </p>
                    <p><a href="https://youtube.com/@NuclearSnailStudios?feature=shared">Nuclear Snail Studios</a></p>

                    <h5><b>Rules and Game Features:</b></h5>
                    <ol>
                        <li><b>1.</b> Eye protection is mandatory!</li>
                        <li><b>2.</b> STRICTLY FORBIDDEN: Climbing to elevated positions/canopies/roofs.</li>
                        <li><b>3.</b> DRESS CODE: You are born in a post-apocalyptic world, and your appearance should
                            somehow reflect that!
                        </li>
                        <li><b>4.</b> Night vision goggles, thermal imagers, etc., are unnecessary. You can bring
                            flashlights.
                        </li>
                        <li><b>5.</b> Pyrotechnics are prohibited.</li>
                        <li><b>6.</b> The game area will be divided into combat and non-combat zones. In the combat
                            zone, protective eyewear is MANDATORY.
                        </li>
                        <li><b>7.</b> Carrying airsoft guns and modified weapons is prohibited in the non-shooting zone.
                            All weapons are surrendered to the armory between zones, where each player has a designated
                            compartment for their personally brought weapons.
                        </li>
                        <li><b>8.</b> Players start the game with secondary weapons (pistols, revolvers, melee weapons)
                            if available. Other weaponry is surrendered to the armorer (GM).
                        </li>
                        <li><b>9.</b> Tokenized weapons are used in the game, indicating type, identifying marks, and
                            related information. When transitioning from the non-shooting zone to the shooting zone,
                            players show the GM (Armorer) their token to receive the corresponding weapon from the
                            armory. Tokens can also be used for trading and exchanges in the non-shooting zone.
                        </li>
                        <li><b>10.</b> Airsoft gun energy limits comply with standard rules (1.6 joules or 120 m/s with
                            0.2g BBs).
                        </li>
                        <li><b>11.</b> You don’t need to bring your own balls.</li>
                        <li><b>12.</b> Custom-made weapons must be chipped (material characteristics check) during the
                            chronographing of the guns.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4">
                <div class='quoteHeader getaquote' id='form-form'>
                    <h3 class="g-form__title g-form__title_main">Registration</h3>
                </div>
                <div class='quoteFooter getaquote'>
                    <form class="g-form" id="g-form-1" autocomplete="off">
                        <div class="g-form__inputs">
                            <input type='text' id="name" name="name" placeholder="Имя/Фамилия" required>
                            <input type='text' id="tel" name="phone" placeholder="Phone Number" required>
                            <input id="email" name="email" type="email" placeholder="email" required/>
                            <input type="text" name="nickname" placeholder="Позывной">
                            <textarea id="message" name="about-character" rows="10" placeholder="About your character (Optional)" data-lt-tmp-id="lt-324300" spellcheck="false" data-gramm="false"></textarea>
                            <fieldset name="team" class='form-fieldset'>
                                <label>Выберите фракцию:</label> <br>
                                <input type="radio" class="form-check-input" id="4gear" name="team" value="4gear" required>
                                <label class="form-check-label" for="4gear">4ая передача</label> <br>
                                <input type="radio" class="form-check-input" id="farmacempentic" name="team" value="farmacempentic" required>
                                <label class="form-check-label" for="farmacempentic">Фармацевтики</label>
                            </fieldset>

                            <fieldset name="payment-method" class='form-fieldset'>
                                <label for="payment-method">Payment:</label> <br>
                                <input type="radio" class="form-check-input" id="cash" name="payment-method"
                                       value="cash" required>
                                <label class="form-check-label" for="cash">Cash</label> <br/>
                                <input type="radio" class="form-check-input" id="bank-transfer" name="payment-method"
                                       value="bank-transfer" required>
                                <label class="form-check-label" for="bank-transfer">Bank</label>
                            </fieldset>
                            <label style=" color: white; " for="honeypot">Скоро разрабы догадаются отправлять инфу на мыло</label>
                            <label style=" text-decoration: line-through; ">12.03.24-10.04.24 - 30€</label>
                            <label style=" text-decoration: line-through; ">11.04.24-01.05.24 - 35€</label>
                            <label>02.05.24-23.05.24 - 40€</label>
                            <label>24.05.24-25.05.24 - 50€</label>

                            <input style=" visibility: hidden; height: 1px; " id="honeypot" type="text" name="honeypot"
                                   value="">
                            <input class="g-form__button" type="submit" id="q_submit" value="Send">
                            <br/>
                            <h3 class="g-form__title g-form__title_respond"></h3>
                            <div class="g-form__preloader"></div>
                        </div>
                    </form>
                    <script>
                        const restrictedTeam = "<%= restrictedTeam %>";
                        if (restrictedTeam) {
                            const radioButton = document.getElementById(restrictedTeam);
                            radioButton.disabled = true;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>