<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>BEST</h1>
                        <h2 class="color_gray">CQB CLUB</h2>
                        <h2 class="color_white">IDA-VIRUMAA</h2> </div>
                    <p> Добро пожаловать на нашу уникальную CQB-арену в городе Нарва! Наша арена располагает площадью впечатляющих 5000 квадратных метров и предоставляет непревзойденные возможности для игры в страйкбол. </p>
                    <p> Мы проводим игры каждую неделю по выходным, предоставляя нашим участникам возможность погрузиться в захватывающий мир тактических сражений. Наши игры разнообразны и подходят как для новичков, так и для опытных игроков. </p>
                    <p> CQB (ближний бой в условиях города) - это стиль страйкбола, где тактика и командная работа имеют особенно важное значение. На нашей арене вы сможете испытать адреналин боя внутри стен города, созданных специально для максимальной аутентичности. </p>
                    <p> Присоединяйтесь к нам и переживите настоящее приключение в мире страйкбола на нашей уникальной арене в городе Нарва. Оставайтесь с нами для последних обновлений о наших событиях и не упустите шанс стать частью нашей страстной страйкбольной команды! </p>
                    <img alt="444.png" style="" src="https://static.wixstatic.com/media/848489_e190dd36cd4a403ab0c0b00f6d5cf023~mv2.png/v1/fill/w_954,h_266,al_c,q_85,usm_0.66_1.00_0.01/444.png">
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="singleSer"> <i class="fa fa-building"></i>
                                <h3><a href="#">Самая большая арена в Прибалтике</a></h3>
                                <p>Крупная площадь полигона, превышающая 5000 квадратных метров, придает игре привлекательность для широкой аудитории, включая как детей, так и взрослые компании.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="singleSer"> <i class="fa fa-smile-o"></i>
                                <h3><a href="#">Максимально интерактивная арена</a></h3>
                                <p>На нашем полигоне представлены интерактивные элементы, которые обогатят ваш опыт игры и переносят элементы компьютерных игр прямо в реальную жизнь.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="getaquote">
                    <div class="quoteHeader">
                        <h3>Забронировать игру</h3> </div>
                    <div class="quoteFooter">
                        <form action="#" method="post" id="quoteForm">
                            <input type="text" placeholder="Full name" id="q_name" class="required" name="q_nam">
                            <input type="email" placeholder="Email" id="q_email" class="required" name="q_email">
                            <input type="text" placeholder="Phone" id="q_phone" class="required" name="q_phone">
                            <input type="number" placeholder="Количество игроков" class="required" name="q_players" min="1">
                            <input type="date" placeholder="Выберите дату" class="required" name="q_date">
                            <input type="time" placeholder="Выберите время начала" class="required" name="q_time_start">
                            <input type="time" placeholder="Выберите время окончания" class="required" name="q_time_end">
                            
                            <div style="margin: 10px 0;">
                                <label style="color: white; margin-right: 15px;">
                                    <input type="radio" name="payment_method" value="transfer" checked> Банковский перевод
                                </label>
                                <label style="color: white;">
                                    <input type="radio" name="payment_method" value="cash"> Наличные
                                </label>
                            </div>
                            
                            <textarea placeholder="Message" id="q_msg" name="q_msg" class="required"></textarea>
                            <input type="submit" id="q_submit" value="Send Request">
                        </form>
                        <p class="respond-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="callToaction overlay90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="callToContent">
                    <h2 class="color_white">Звоните!!</h2>
                    <h2 class="color_red">372 56 969 372</h2> <i class="fa fa-phone"></i> </div>
            </div>
        </div>
    </div>
</section>

<section class="choseSection bg_black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>3</h1>
                        <h2 class="color_gray">причины</h2>
                        <h2 class="color_white">поиграть у нас</h2> </div>
                    <p>Мы предлагаем уникальный опыт страйкбола в Нарве. Наша арена оборудована всем необходимым для безопасной и увлекательной игры. Присоединяйтесь к нам и откройте для себя новый вид активного отдыха!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="choseus">
                    <div class="singleCho"> <i class="fa fa-diamond"></i>
                        <h3>более 5 лет опыта</h3>
                        <p>Наша команда гарантирует незабываемые моменты.</p>
                    </div>
                    <div class="singleCho"> <i class="fa fa-credit-card"></i>
                        <h3>доступные цены</h3>
                        <p>Играйте со своим снаряжением всего за 10 евро или арендуйте снаряжение за 20 евро.</p>
                    </div>
                    <div class="singleCho"> <i class="fa fa-building"></i>
                        <h3>игра в помещении</h3>
                        <p>Комфорт и безопасность при любой погоде.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choseImg"> <img src="img/chose.png" alt=""> </div>
</section>
<section class="commonSection hotOffersec overlay90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center noPadding">
                <div class="sectionTitle2">
                    <h2 class="color_white light_col">Наши уникальные предложения!</h2>
                    <p>Мы создаем незабываемые впечатления и яркие эмоции для каждого игрока. Присоединяйтесь к нам и откройте для себя захватывающий мир страйкбола!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 bb br b">
                <div class="singleOffer"> <i class="fa fa-gears"></i>
                    <h3>Профессиональный ремонт приводов</h3>
                    <p>Наши опытные техники вернут к жизни ваше снаряжение. Используем только качественные запчасти и современное оборудование для диагностики и ремонта.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 bb br b">
                <div class="singleOffer"> <i class="fa fa-star"></i>
                    <h3>Открытые игры каждые выходные</h3>
                    <p>Присоединяйтесь к нашим регулярным играм, где вы встретите единомышленников и получите дозу адреналина. Подходит как новичкам, так и опытным игрокам!</p>
                </div>
            </div>
            <div class="clearfix hidden-lg"></div>
            <div class="col-lg-4 col-sm-6 bb b">
                <div class="singleOffer"> <i class="fa fa-user"></i>
                    <h3>Станьте частью нашего клуба</h3>
                    <p>Присоединяйтесь к сообществу увлеченных страйкболистов. Эксклюзивные мероприятия, специальные скидки и постоянное развитие навыков в кругу единомышленников.</p>
                </div>
            </div>
            <div class="clearfix hidden-sm hidden-md"></div>
            <div class="col-lg-6 col-sm-6 br b">
                <div class="singleOffer"> <i class="fa fa-birthday-cake"></i>
                    <h3>Индивидуальное бронирование</h3>
                    <p>Организуйте незабываемое мероприятие! Идеально подходит для дней рождения, корпоративов или просто встреч с друзьями. Полностью настраиваемый формат игры под ваши пожелания.</p>
                </div>
            </div>
            <div class="clearfix hidden-lg"></div>

            <div class="col-lg-6 col-sm-6 b">
                <div class="singleOffer"> <i class="fa fa-leaf"></i>
                    <h3>Захватывающие тематические игры</h3>
                    <p>Погрузитесь в уникальные сценарии РПГ-игр с проработанным сюжетом и особыми правилами. Каждая игра - это новая история, где вы становитесь главным героем!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section class="commonSection bg_black">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <div class="sectionTitle2">-->
<!--                    <h2 class="color_white">Recent Posts</h2> </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div id="recentPostCaro">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="singlePost">-->
<!--                        <div class="postThum"> <img src="img/mainposter/1.jpg" alt=""> </div>-->
<!--                        <div class="singlebDec">-->
<!--                            <div class="bdecTop">-->
<!--                                <h3 class="blogTitle"><a>Попы ищут приключения</a></h3>-->
<!--                                <p class="bDate">Missioon Rutja</p>-->
<!--                            </div>-->
<!--                            <p> Мероприятие на свежем воздухе с возможностью поделать пиу пиу в противника. </p>&lt;!&ndash; <a href="blog-single-left.html" class="painButton">Фотоотчёт</a> &ndash;&gt;</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="singlePost">-->
<!--                        <div class="postThum"> <img src="img/mainposter/2.jpg" alt=""> </div>-->
<!--                        <div class="singlebDec">-->
<!--                            <div class="bdecTop">-->
<!--                                <h3 class="blogTitle"><a>Стильно и модно</a></h3>-->
<!--                                <p class="bDate">BACKto90's</p>-->
<!--                            </div>-->
<!--                            <p> Отличный повод расказать своим друзьям про 90-е и как ты в них выживал, &lt;!&ndash; </p> <a href="blog-single-right.html" class="painButton">Read More</a> &ndash;&gt;</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<section class="bg_black gallarySec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/gallery-preview1.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/gallery-preview1.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/gallery-preview2.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/gallery-preview2.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/gallery-preview3.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/gallery-preview3.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/4.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/4.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/5.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/5.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/6.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/6.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/7.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/7.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/8.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/8.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div> -->
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
                <div class="galBtnW"> <a href="gallery-fullwidth-3col.html" class="painButton">Our Gallery</a> </div>
            </div>
        </div>
    </div>
</section>


<!--<section class="clientSec bg_black2">-->
<!--	<div class="container-fluid">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-12">-->
<!--				<div id="clientCaro">-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/1.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/2.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/3.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/4.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/5.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/6.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/7.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/1.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/2.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/3.png" alt=""></a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>-->

<script src="js/landing.js"></script>