<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>BEST</h1>
                        <h2 class="color_gray">CQB CLUB</h2>
                        <h2 class="color_white">IDA-VIRUMAA</h2> </div>
                    <p> Добро пожаловать на нашу уникальную CQB-арену в городе Нарва! Наша арена располагает площадью впечатляющих 5000 квадратных метров и предоставляет непревзойденные возможности для игры в страйкбол. </p>
                    <p> Мы проводим игры каждую неделю по выходным, предоставляя нашим участникам возможность погрузиться в захватывающий мир тактических сражений. Наши игры разнообразны и подходят как для новичков, так и для опытных игроков. </p>
                    <p> CQB (ближний бой в условиях города) - это стиль страйкбола, где тактика и командная работа имеют особенно важное значение. На нашей арене вы сможете испытать адреналин боя внутри стен города, созданных специально для максимальной аутентичности. </p>
                    <p> Присоединяйтесь к нам и переживите настоящее приключение в мире страйкбола на нашей уникальной арене в городе Нарва. Оставайтесь с нами для последних обновлений о наших событиях и не упустите шанс стать частью нашей страстной страйкбольной команды! </p>
                    <img alt="444.png" style="" src="https://static.wixstatic.com/media/848489_e190dd36cd4a403ab0c0b00f6d5cf023~mv2.png/v1/fill/w_954,h_266,al_c,q_85,usm_0.66_1.00_0.01/444.png">
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="singleSer"> <i class="fa fa-building"></i>
                                <h3><a href="#"></a></h3>
                                <p>Крупная площадь полигона, превышающая 5000 квадратных метров, придает игре привлекательность для широкой аудитории, включая как детей, так и взрослые компании.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="singleSer"> <i class="fa fa-smile-o"></i>
                                <h3><a href="#">The Best Location</a></h3>
                                <p>На нашем полигоне представлены интерактивные элементы, которые обогатят ваш опыт игры и переносят элементы компьютерных игр прямо в реальную жизнь.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="getaquote">
                    <div class="quoteHeader">
                        <h3>Забронировать игру</h3> </div>
                    <div class="quoteFooter">
                        <form action="#" method="post" id="quoteForm">
                            <input type="text" placeholder="Full name" id="q_name" class="required" name="q_nam">
                            <input type="email" placeholder="Email" id="q_email" class="required" name="q_email">
                            <input type="text" placeholder="Phone" id="q_phone" class="required" name="q_phone">
                            <textarea placeholder="Message" id="q_msg" name="q_msg" class="required"></textarea>
                            <input type="submit" id="q_submit" value="Send Request"> </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="callToaction overlay90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="callToContent">
                    <h2 class="color_white">Звоните!!</h2>
                    <h2 class="color_red">372 56 969 372</h2> <i class="fa fa-phone"></i> </div>
            </div>
        </div>
    </div>
</section>

<section class="choseSection bg_black">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>3</h1>
                        <h2 class="color_gray">причины</h2>
                        <h2 class="color_white">поиграть у нас</h2> </div>
                    <p> Stet clita kasd gubergreno sea takimata sanctus est Lorem ipsum dolor sitamet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="choseus">
                    <div class="singleCho"> <i class="fa fa-diamond"></i>
                        <h3>более 5 лет опыта</h3>
                        <p>Наша команда гарантирует незабываемые моменты.</p>
                    </div>
                    <div class="singleCho"> <i class="fa fa-credit-card"></i>
                        <h3>доступные цены</h3>
                        <p>Играйте со своим снаряжением всего за 10 евро или арендуйте снаряжение за 20 евро.</p>
                    </div>
                    <div class="singleCho"> <i class="fa fa-building"></i>
                        <h3>игра в помещении</h3>
                        <p>Комфорт и безопасность при любой погоде.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choseImg"> <img src="img/chose.png" alt=""> </div>
</section>
<section class="commonSection hotOffersec overlay90">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center noPadding">
                <div class="sectionTitle2">
                    <h2 class="color_white light_col">Что мы предлагаем!</h2>
                    <p>Stet clita kasd gubergreno sea takimata sanctus est lorem ipsum dolor sitamet lorem ipsum dolor sit amet, consetetur.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 bb br b">
                <div class="singleOffer"> <i class="fa fa-gears"></i>
                    <h3>ремонт приводов</h3>
                    <p>Отремонтируем ваш привод.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 bb br b">
                <div class="singleOffer"> <i class="fa fa-star"></i>
                    <h3>ОТКРЫТЫЕ игры</h3>
                    <p>На выходных открытые игры</p>
                </div>
            </div>
            <div class="clearfix hidden-lg"></div>
            <div class="col-lg-4 col-sm-6 bb b">
                <div class="singleOffer"> <i class="fa fa-user"></i>
                    <h3>Вступление в клуб</h3>
                    <p>Возможность вступить в клуб.</p>
                </div>
            </div>
            <div class="clearfix hidden-sm hidden-md"></div>
            <div class="col-lg-6 col-sm-6 br b">
                <div class="singleOffer"> <i class="fa fa-birthday-cake"></i>
                    <h3>Зарезервировать игру</h3>
                    <p>Возможность зарезервировать день, когда хотите поиграть</p>
                </div>
            </div>
            <div class="clearfix hidden-lg"></div>

            <div class="col-lg-6 col-sm-6 b">
                <div class="singleOffer"> <i class="fa fa-leaf"></i>
                    <h3>Тематические игры</h3>
                    <p>Проведение игр на разные тематики (РПГ)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<section class="commonSection bg_black">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 text-center">-->
<!--                <div class="sectionTitle2">-->
<!--                    <h2 class="color_white">Recent Posts</h2> </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div id="recentPostCaro">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="singlePost">-->
<!--                        <div class="postThum"> <img src="img/mainposter/1.jpg" alt=""> </div>-->
<!--                        <div class="singlebDec">-->
<!--                            <div class="bdecTop">-->
<!--                                <h3 class="blogTitle"><a>Попы ищут приключения</a></h3>-->
<!--                                <p class="bDate">Missioon Rutja</p>-->
<!--                            </div>-->
<!--                            <p> Мероприятие на свежем воздухе с возможностью поделать пиу пиу в противника. </p>&lt;!&ndash; <a href="blog-single-left.html" class="painButton">Фотоотчёт</a> &ndash;&gt;</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="singlePost">-->
<!--                        <div class="postThum"> <img src="img/mainposter/2.jpg" alt=""> </div>-->
<!--                        <div class="singlebDec">-->
<!--                            <div class="bdecTop">-->
<!--                                <h3 class="blogTitle"><a>Стильно и модно</a></h3>-->
<!--                                <p class="bDate">BACKto90's</p>-->
<!--                            </div>-->
<!--                            <p> Отличный повод расказать своим друзьям про 90-е и как ты в них выживал, &lt;!&ndash; </p> <a href="blog-single-right.html" class="painButton">Read More</a> &ndash;&gt;</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<section class="bg_black gallarySec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/1.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/1.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/2.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/2.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/3.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/3.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/4.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/4.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/5.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/5.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/6.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/6.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/7.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/7.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 noPadding">
                <div class="singleGal">
                    <div class="galImg"> <img src="img/gallery/8.jpg" alt=""> </div>
                    <div class="galHover">
                        <div class="galr"> <a href="img/gallery/8.jpg" class="popUp"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-info"></i></a> </div>
                        <h3 class="galTitle"><a href="#">sadipscing elitr sed diam</a></h3>
                        <p class="galTag"><a href="#">Battlefield</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
                <div class="galBtnW"> <a href="gallery-fullwidth-3col.html" class="painButton">Our Gallery</a> </div>
            </div>
        </div>
    </div>
</section>


<!--<section class="clientSec bg_black2">-->
<!--	<div class="container-fluid">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-12">-->
<!--				<div id="clientCaro">-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/1.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/2.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/3.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/4.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/5.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/6.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/7.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/1.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/2.png" alt=""></a>-->
<!--					</div>-->
<!--					<div class="singleclient">-->
<!--						<a href="#"><img src="img/client/3.png" alt=""></a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>-->

<script src="js/landing.js"></script>