<style>
    .event-rules h1 {
        font-size: 25px;
    }
    .event-rules h2 {
        font-size: 20px;
    }
    .event-rules h3 {
        font-size: 20px;
    }
    .event-rules h1, .event-rules h2, .event-rules h3 {
        color: #3a516c;
    }
    .event-rules p {
        margin-bottom: 15px;
    }
    .event-rules ul {
        margin-left: 10px;
    }
    .event-rules li {
        margin-bottom: 10px;
    }
    .event-rules .important {
        color: red;
    }
</style>
<h2>Главное правило</h2>
<ul>
    <li>Знать и не нарушать правила ниже</li>
</ul>

<h2>Техника безопасности</h2>
<ul>
    <li>Обязательно иметь защиту на глаза!</li>
    <li>Обязательно использовать предохранитель при смерти и входе в нестрелковую зону</li>
    <li>Смотреть под ноги!</li>
    <li>Минимизировать травматичность от использования страйкбольного оружия</li>
</ul>

<h2>Общие правила страйкбола</h2>
<ul>
    <li>Рикошеты не считаются попаданием по игроку</li>
    <li>Запрещена стрельба в слепую (по-сомалийски)</li>
    <li>Попадание по приводу, квестовому предмету не считается (ящик, цинк и т.д.)</li>
    <li>Запрещена стрельба по людям в зелёных жилетках</li>
</ul>

<h2>Общие правила игры object 6</h2>
<ul>
    <li>Выполнять прямое распоряжение организаторов и игромастеров</li>
    <li>Отыгрывать согласно выбранной Вами роли или выбранному вами персонажу</li>
    <li>Все спорные ситуации решают исключительно игромастера</li>
    <li>Каждый игрок должен обратиться к любому игромастеру для разрешения конфликтной или спорной ситуации</li>
    <li>Игра проводится на честность. Если за игроком будет замечено «читерство», то это отразится на последующих играх и может караться удалением с игры</li>
    <li>На игре присутствуют спиртные напитки, но чрезмерно выпивших и неадекватно себя ведущих - мы выпроваживаем с мероприятия без возврата денег за билет</li>
    <li>Несовершеннолетним участникам запрещено употребление алкогольных напитков</li>
    <li>Находиться в состоянии наркотического опьянения запрещено</li>
    <li>Запрещается использовать технику рукопашного боя (исключение — моменты отыгрыша роли)</li>
    <li>Запрещается брать с собой свои шары на игру</li>
    <li>Запрещено подбирать б/у шары</li>
</ul>

<h2>Взаимодействие, система убийств, состояние игроков</h2>
<ul>
    <li>Попадание ближним и дальним оружием делает вас раненым</li>
    <li>У игроков во время игры есть 3 состояния: живой, тяжело раненый, мёртвый</li>
    <li>После получения ранения игрок должен отыграть тяжело раненого (в течение 3 минут), можно стонать, валяться и т.д.</li>
    <li>Тяжело раненый персонаж не может отстреливаться, давать информацию и вести осмысленный диалог</li>
    <li>В течение 3 минут игрока могут лутать (обыскивать). Игрок, который будет лутать, должен подойти и сказать игроку, который тяжело ранен. Альтернативно, игрок может сбросить с себя все изымаемые/лутаемые вещи, не ожидая 3 минуты, и стать мгновенно мёртвым</li>
    <li>Персонажа в тяжёлом ранении можно возродить на месте при помощи бинта. Следующее попадание по перебинтованному персонажу смертельно и персонаж сразу считается мёртвым, не входя в состояние тяжело раненого</li>
    <li>После 3 минут игрок становится мёртвым и уходит в мертвятник</li>
    <li>Персонаж возвращается в игру прежним персонажем только после отсидки в мертвяке. Он не помнит причины своей смерти. Также персонаж не знает, что происходило, пока игрок возвращался в мертвяк с места своей смерти</li>
    <li>Персонажа можно ввести в состояние оглушения. Для этого необходимо подойти со спины к цели и изобразить удар оружием ближнего боя либо прикладом по затылку (не делая физического касания по цели!) и произнести чётко и внятно: “ОГЛУШЁН” или “STUN”. Оглушённый игрок теряет сознание на 1 минуту. Персонажа в данном состоянии можно обыскивать, либо пленить</li>
    <li>Пленение происходит над персонажем, который не может сопротивляться, либо добровольно сдаётся. Связывание отыгрывается наложением верёвки вокруг рук цели, не завязывая физический узел. Пленённый игрок не может сбегать либо сопротивляться, только если отыгрывать. Связанный игрок находится в плену не более 15-20 минут (на усмотрение самого игрока) либо после выполнения одной из просьб пленившего. Будучи в плену, персонажа можно допрашивать. Если персонаж не хочет просто так выкладывать информацию, начинается фаза пыток, длительностью 3-5 минут. Допрос может быть с пристрастием, однако строго запрещено физическое воздействие на здоровье/костюм/снаряжение цели. По истечении времени пыток жертва должна ответить честно на 3 вопроса. После этого жертва переходит в состояние “мёртв” и отправляется в мертвяк</li>
</ul>

<h2>Допуск оружия</h2>
<ul>
    <li>Все без исключения обязаны пройти хронометраж приводов на регистрации перед игрой</li>
    <li>Показатели будут сниматься шарами организаторов 0.25 при выкрученном хоп-апе в «ноль» и должны не превышать следующие показатели: пистолеты - 1,5J, дробовики - 1,5J, AEG привода - 1,2J</li>
    <li>Привода, которые не могут быть отхронены по любым причинам, к игре не допускаются</li>
    <li>Запрещено: Гранаты и подствольные гранатомёты, ЛЦУ и ПНВ</li>
    <li>Оружие должно соответствовать постапокалиптическому времени</li>
</ul>

<h2>Дресс-код</h2>
<ul>
    <li>Костюм должен соответствовать постапокалиптическому времени</li>
    <li>При несоответствии костюма игрок не допускается к игре</li>
    <li>Туториалы по созданию костюма для игры: <a href="https://www.pinterest.com/caktooooos/objekt/?invite_code=978ed4f4c2584117adaa7b1ee874da9a&sender=829366225036518787" target="_blank">Смотреть здесь</a></li>
</ul>

<h1>Нестрелковые зоны и токены оружия</h1>

<p><strong>Для чего:</strong></p>
<ul>
    <li>На игре мы хотим иметь нестрелковые зоны, где участники мероприятия могут спокойно снять защитные очки и не беспокоиться по поводу получения шаром из привода для себя. Для этого нужно, чтобы все привода игроки оставляли на входе таких зон.</li>
    <li>Мы хотим на игре создать геймплей поиска, покупки, торговли и лутания оружия.</li>
    <li>Мы не хотим, чтобы игроки отбирали чужие привода и пользовались ими.</li>
    <li>Мы хотим, чтобы в нестрелковой зоне всё так же можно было проводить торговлю и т.д. оружием, будто оно в наличии игроков. Пример похожей игровой условности: в компьютерной игре Сталкер, когда игрок входит в Бар, игра заставляет персонажа убрать оружие из рук и не позволяет ему его взять; при этом игрок всё также может им обмениваться.</li>
</ul>

<p>Чтобы эти пункты удовлетворить, мы используем токены оружия на игре. Они показывают игромеханически наличие оружия на руках игрока.</p>

<h2>Описание механики</h2>
<p>Оружие на игре состоит из двух частей: физический привод и токен оружия. Токен представляет собой пару идентичных жетонов. Каждый игровой персонаж имеет паспорт с индивидуальным номером.</p>

<p>На начало игры, игровые персонажи стартуют без стрелкового оружия, а их физические привода хранятся в неигровой оружейне в соответствующих их индивидуальному номеру ячейках. Игровым персонажам нужно найти себе подходящие их физическому приводу пару токенов (их можно купить, найти, получить от лидеров фракций). Токены отчуждаемы.</p>

<h3>Токены бывают двух типов:</h3>
<ul>
    <li><strong>PISTOL</strong> (все пистолеты)</li>
    <li><strong>RIFLE</strong> (всё, что не пистолеты)</li>
</ul>

<p>На токенах указаны: серийный номер, тип, корпоративная метка (если имеется).</p>

<h2>Примеры взаимодействия с механикой:</h2>

<ul>
    <li><strong>Игрок выходит из Нестрелковой зоны</strong>, имеет токен оружия и желает выйти с приводом.</li>
    <li><strong>Игрок на выходе у неигровой оружейной</strong> показывает пару жетонов токена оружия ответственному человеку, сдаёт один из жетонов, который кладётся в его ячейку в оружейной. Из этой ячейки игрок в ответ получает соответствующий типу токена привод.</li>
    <li><strong>Игрок возвращается в Нестрелковую зону</strong>, сдаёт свой привод в неигровую оружейную. Если при нём всё ещё есть второй жетон, игрок получает сданный жетон обратно. Если парного жетона на руках у игрока нет (потерял, порвал, отдал, отобрали и т.д.) - то сданный жетон остаётся в оружейной.</li>
    <li><strong>Игрок забрал один из жетонов с павшего игрока</strong>. Чтобы воспользоваться таким жетоном, нужно получить и его пару, которая находится в неигровой оружейной. Игрок приходит туда и запрашивает у ответственного человека пару для предоставляемого жетона. Если соответствующий жетон в этот момент времени не замещает какой-либо из приводов, то игрок получает недостающий жетон.</li>
</ul>

<p class="important">NB! Одиночным жетоном нельзя получить на руки привод. Токен оружия из одного жетона описывается как “сломанное” оружие. Чтобы его починить нужно найти “подходящие детали”, которыми является недостающий жетон.</p>

<p class="important">NB2!! Эта механика не распространяется на гуманизированное ЛАРП оружие ближнего боя!</p>

<p class="important">NB3!! Если у вас нет во владении физического привода, который бы соответствовал токену какого-либо из типов - вы им воспользоваться в оружейной не можете.</p>
